<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FAQ | JusticeCoin</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Justice Coin">

  <link rel="icon" href="images/favicon.ico">
  <!--Bootstrap Css-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Animate Css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <!-- Material Design Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
  <!-- Custom style Css -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
</head>

<body style="background-color: #eee">
  <!-- START NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">
      <!-- LOGO -->
      <div class="navbar-brand">
        <a class="logo anchor" href="/">
          <img src="images/JusticeCoinLogo.png" alt="JusticeCoinLogo" class="img-fluid logo-light" style="position: fixed; top: 10px; width: 250px; height: auto">
        </a>

      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <strong class="mdi mdi-menu" style="font-size: 15px">Menu</strong>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/faq" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item active">
            <a href="/# " class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/web-miner" class="nav-link">Web Miner</a>
          </li>
          <li class="nav-item">
            <a href="/download" class="nav-link">Download</a>
          </li>
          <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/#contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <!-- START PAGE TITLE -->
  <section class="container-fluid" style="background-color: #000050; height: 40vh">
    <div class="col-lg-12" style="padding-top:20vh">
      <h1 class="text-center" style="color: #fff">Our Team</h1>
    </div>
  </section>
  <!-- END PAGE TITLE -->
  <!-- START MEMBER CARDS -->
  <!-- MAKE EFFICIENT WITH EJS TEMPLATES -->
  <section container-fluid>
    <% for (let i = 0; i<team.length; i += 3) { %>
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card team">
          <a href="">
          <div class="card-body card-link-team">
            <img src="<%= team[i].imageSource %>" alt="Pic of <%=team[i].name%>">
            <h3 class="text-danger"><%= team[i].name %></h3>
            <h5 class="text-dark"><%= team[i].position %></h5>
          </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card team">
          <a href="">
          <div class="card-body card-link-team">
            <img src="<%= team[i+1].imageSource %>" alt="Pic of <%=team[i+1].name%>">
            <h3 class="text-danger"><%= team[i+1].name %></h3>
            <h5 class="text-dark"><%= team[i+1].position %></h5>
          </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card team">
          <a href="<%= team[i+2].imageSource %>">
          <div class="card-body card-link-team">
            <img src="" alt="Pic of <%=team[i+2].name%>">
            <h3 class="text-danger"><%= team[i+2].name %></h3>
            <h5 class="text-dark"><%= team[i+2].position %></h5>
          </div>
          </a>
        </div>
      </div>
    </div>
    <% } %>
<h1 class="text-center">WILL ADD OTHER PPL LATER ONCE I MAKE THIS CODE RESPONSIVE</h1>
  </section>
  <!-- END MEMBER CARDS -->
  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->
</body>
<!-- BASE JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--CUSTOM JS-->
<script src="js/navbarScroll.js"></script>
<script src="js/homeTyper.js"></script>

</html>
