<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/header", {pageTitle: "JusticeCoin Decentralized Activism"}) -%>
</head>

<body style="background-color: #eee">

  <!-- START LOADER -->
  <div id="preloader" style="display: none;">
    <div id="status" style="display: none;">
      <div class="spinner">Loading...</div>
    </div>
  </div>
  <!-- END LOADER -->

  <!-- START NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
    <div class="container">
      <!-- LOGO -->
      <div class="navbar-brand">
        <a class="logo anchor" href="/">
          <img src="/images/JusticeCoinLogo.png" alt="JusticeCoinLogo" class="img-fluid logo-light" style="position: fixed; top: 10px; width: 250px; height: auto">
        </a>

      </div>
      <button class="navbar-toggler sticky" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <strong class="mdi mdi-menu" style="font-size: 20px">Menu</strong>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="/#" class="nav-link" id="homeClicker">Home</a>
          </li>
          <li class="nav-item">
            <a href="/#faq" class="nav-link faqClicker">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/web-miner" class="nav-link">Web Miner</a>
          </li>
          <li class="nav-item">
            <a href="/download" class="nav-link">Download</a>
          </li>
          <!-- <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
          </li> -->
          <li class="nav-item">
            <a href="/#contact" class="nav-link" id="contactClicker">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- END NAVBAR -->

  <!--START HOME-->
  <section class="h-100vh" id="homePlace" style="background-image: url('images/background.jpg'); z-index: 0" id="home">
    <div class="bg-overlay" style="width: 100%; height: 100%"></div>
    <div class="home-table">
      <div class="home-table-center">
        <div class="container position-relative">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-white text-header_title">
              <h1 class="appear header_title" style="color: #FFF">JusticeCoin</h1>
            </div>
          </div>
          <h2 class="appear" style="color: #add8e6">
            JusticeCoin is a radical decentralized crypto-based fundraising model built to support organizations promoting equality and social justice.
          </h2>
          <br>
          <a href="/web-miner">
            <button style="z-index: 10; position: relative" class="btn btn-large btn-outline-light" name="">
              <strong style="font-size:20px">Start Mining Online</strong>
            </button>
          </a>
          <a href="/download">
            <button style="z-index: 10; position: relative" class="btn btn-large btn-outline-warning" name="">
              <strong style="font-size:20px">Download Our Secure Desktop Miner</strong>
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- Cool Background Particle Effect -->
    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%; position: absolute; top: 0px;"></canvas>
    </div>
    <!-- NEED TO PUT DOWN ARROW HERE -->
  </section>
  <!--END HOME-->
  <!-- START CHOOSE YOUR LEVEL SECTION -->
  <section class="container-fluid" style="z-index: 0; margin: auto">
    <div class="col-lg-12 text-dark" style="margin-top: 10vh">
      <h2 class="text-center font-weight-bold makesmall">JusticeCoin
        <span class="cursorType makesmall" style="color: #000080" data-elements="Is Safe to Use.,Is Easy To Setup.,Is Free For Everyone."></span>
      </h2>
    </div>

    <div class="row text-center">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #010079">
          <a href="#route-beginner" id="route-beginnerClicker">
            <div class="card-body card-link">
              <p class="card-text">I'm new to crypto. Explain how it all works.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #C09000">
          <a href="#route-intermediate" id="route-intermediateClicker">
            <div class="card-body card-link">
              <p class="card-text">I know what crypto is. What's unique about JusticeCoin?</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #1B73D3">
          <a href="#route-advanced" id="route-advancedClicker">
            <div class="card-body card-link">
              <p class="card-text">How does JusticeCoin Work?</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="background-color: #500090">
          <a href="#route-try" id="route-tryClicker">
            <div class="card-body card-link">
              <p class="card-text">I want to try it out!</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </section>
  <!-- END CHOOSE YOUR LEVEL SECTION -->
  <!-- START SECTION BEGINNER -->
  <section class="container-fluid section section_beginner" id="route-beginnerPlaceCard">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-5">
          <h2 class="font-weight-bold " style="color: #F0C000">Crypto isn’t real money, but it has real-world exchange value.</h2>
          <p class="text-white" style="font-size: 20px">Cryptocurrency
            is generated through users running computers to solve difficult computational problems in a process known as <i>mining</i>.
          </p>
          <p class="text-white subheader" style="font-size: 20px">When a problem is solved, the user is rewarded with units of that cryptocurrency. If enough users mine for the same cryptocurrency, it begins to have an exchange value.</p>
        </div>
        <div class="col-lg-6 col-sm-12 text-center">
          <img src="images/img-beginner.svg" style="max-width: 400px">
        </div>

      </div>
    </div>
  </section>
  <!-- END SECTION BEGINNER -->
  <!-- START SECTION INTERMEDIATE -->
  <section class="container-fluid section section_intermediate" id="route-intermediatePlaceCard">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-sm-12 text-center mb-5 order-md-last">
          <img src="images/img-intermediate.svg" style="max-width: 400px">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2 class="font-weight-bold " style="color: #F0C000">100% Of Our Revenue Is Donated For Social Good</h2>
          <p class="text-white" style="font-size: 20px"> JusticeCoin provides a platform using revolutionary decentralized technology to transform computing power into funding for non-profit organizations. </p>
          <p class="text-white subheader" style="font-size: 20px">With enough downloads over time, the compounding revenue generated
            from JusticeCoin has the potential to help thousands of people and support dozens of different non-profits.</p>
        </div>

      </div>
    </div>
  </section>
  <!-- END SECTION INTERMEDIATE -->
  <!-- START SECTION ADVANCED -->
  <section class="container-fluid section section_advanced" id="route-advancedPlaceCard">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mb-5">
          <h2 class="font-weight-bold" style="color: #F0C000">Our Software Mines Monero</h2>
          <p class="text-white" style="font-size: 20px">When you open the application tab, an adjustable portion of your computer's unused processing power is used to mine a popular cryptocurrency called Monero, which is secure, private, and
            untraceable.</p>
          <p class="text-white subheader" style="font-size: 20px"> At the end of each mining period, we exchange the Monero for US dollars and donate the earnings to a rotating non-profit organization.</p>
          <p class="text-white" style="font-size: 20px">You can find all our source code on our <a href="https://github.com/Justice-Coin/" target="_blank">github page.</a></p>
        </div>

        <div class="col-lg-6 col-sm-12 text-center mb-5">
          <img src="images/img-advanced.svg" style="max-width: 400px">
        </div>
      </div>

    </div>
  </section>
  <!-- END SECTION ADVANCED -->
  <!-- START SECTION TRY -->
  <section class="container-fluid section section_try" id="route-tryPlaceCard">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-sm-12 text-center mb-5 order-md-last">
          <img src="images/img-try.svg" style="max-width: 400px">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h2 class="font-weight-bold " style="color: #F0C000">Download Our Miner</h2>
          <p class="text-white" style="font-size: 20px">You can download our secure <a href="/download">desktop app</a> or you can try out our <a href="/web-miner">web miner</a>.</p>
          <p class="text-white subheader" style="font-size: 20px">Note: most antiviruses consider all crypto-miners as malware, including our software. We promise that JusticeCoin is completely safe to download and we will never collect any personal
            information about you. For a full list of security features, please visit our <a href="#faq" class="faqClicker">FAQ</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION TRY -->

  <!-- START SECTION FAQ -->
  <!-- START SEARCH BAR -->
  <section id="faqPlace" class="mt-5">

    <section class="container-fluid" style="background-color: #eee; margin-top: 5vh">
      <div class="text-center">
        <h1>Frequently Asked Questions</h1>
      </div>
      <div class="container" style="margin-top: 5vh">
        <form class="text-center" action="/faq" method="POST">
          <input type="text" autocomplete="off" name="faq-search" class="form-control form-control-lg" placeholder="Search For Questions">
        </form>
      </div>
    </section>
    <!-- END SEARCH BAR -->
    <!-- START QUESTIONS -->

    <section class="container" style="margin-top: 5vh">
      <div class="row">


        <div class="col-lg-12">

          <% for (let i = 0; i<faqs.length; i++) {%>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title mb-3">
                  <a data-toggle="collapse" class="faq-question" href="<%= '#collapse1'.concat(i) %>"> • <%= faqs[i].question %></a>
                </h3>
              </div>
              <div id="<%= 'collapse1'.concat(i) %>" class="panel-collapse collapse">
                <div class="panel-body faq-answer mb-3"><i><%= faqs[i].answer %></i></div>
              </div>
            </div>
          </div>
          <% } %>

        </div </div>
    </section>
    <!-- END QUESTIONS -->
  </section>

  <!-- END SECTION FAQ -->
  <br><br>
  <hr style="width: 90vw">
  <!-- START SECTION CONTACT -->
  <section class="section_contact" id="contactPlace">
<div class="container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center">Want To Join <span class="text-info">JusticeCoin</span>?</h2>
    <!--Section description-->
    <h5 class="text-center w-responsive mx-auto mb-5 mt-5" style="font-size: 20px; font-weight:semi-bold"><u>We're currently looking for testers and new team members so sign up and stay up to date!</u></h5>
    <h5 class="text-center w-responsive mb-5" style="font-size: 20px; font-weight:semi-bold">You can also email us at <strong>contact@JusticeCoin.com</strong></h5>

    </div>
    <div class="container">
      <div class="col-md-12 mb-md-0 mb-5 text-center">
        <form class="text-center" name="email_form" action="/home" method="POST">
          <input type="text" id="email" name="email_address" class="form-control form-control-lg" placeholder="Your Email">
          <br>
          <button type="submit" class="btn btn-large btn-outline-success btn-lg" name="submit_email"><strong><i>Sign Up</i></strong></button>
        </form>
      </div>
    </div>

  </section>
  <!-- END SECTION CONTACT -->

  <!-- PUT "BACK TO TOP" BUTTON HERE -->
  <!-- START FOOTER -->
  <%- include("partials/footer") -%>
  <!-- END FOOTER -->

</body>
<!-- BASE JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- TYPED -->
<script src="js/typed.js"></script>
<!--PARTICLES ANIMATE JS-->
<script src="js/particles.js"></script>
<script src="js/particles.app.js"></script>
<!--CUSTOM JS-->
<script src="js/navbarScroll.js"></script>
<script src="js/homeTyper.js"></script>
<script src="js/hashAnchors.js">
</script>

</html>
