<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") -%>

<main id="content" class="content">

  <%- include("partials/index/title") -%>

  <%- include("partials/index/learn") -%>

  <%- include("partials/index/findOutMore") -%>

  <%- include("partials/index/contact") -%>

  <%- include("partials/index/faq") -%>

</main>

<%- include("partials/footer.ejs") -%>

</html>
